html {
    font-family: 'Roboto' , sans-serif;
    color: #222;
    line-height: 1.4;
    font-size: 110%;
    background-color: white;
}

body {
    margin: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.class {
    width: 160px;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-top: 0px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0em;
    padding-right: 0em;
}

header {
    padding-top: 0;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 4em;
}

nav {
    list-style-type: none;
}

h1 {
    width: 75%;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(red, green, blue, alpha);
}

footer {
    background-color: black;
    color: white;
}
