html {
    font-family: 'Roboto' , sans-serif;
    color: #222;
    line-height: 1.4;
    font-size: 110%;
    background-color: white;
}

body {
    margin: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.class {
    width: 160px;
    text-align: center;
}

